<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <!-- Example connection to a SQL Server Database on localhost. -->
    <!-- <add name="ExampleConnectionString"
			connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
			providerName="System.Data.SqlClient" /> -->
    <add name="nthareneconnectionstring" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ntharenedb;Integrated Security=SSPI" />
    <add name="nthareneconnectionstring1" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Database=ntharenedb;Integrated Security=SSPI;" />
    <add name="nthareneconnectionstring2" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Database=ntharenedb;User Id=sa;Password=123456789;" />
  </connectionStrings>
  <appSettings>
    <!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
		-->
    <add key="mssql_datasource" value=".\SQLEXPRESS" />
    <add key="mssql_database" value="may" />
    <add key="mssql_userid" value="sa" />
    <add key="mssql_password" value="123456789" />
    <add key="mssql_port" value="1433" />

    <add key="mysql_datasource" value="127.0.0.1" />
    <add key="mysql_database" value="may" />
    <add key="mysql_userid" value="sa" />
    <add key="mysql_password" value="123456789" />
    <add key="mysql_port" value="3306" />

    <add key="postgresql_datasource" value="127.0.0.1" />
    <add key="postgresql_database" value="may" />
    <add key="postgresql_userid" value="postgres" />
    <add key="postgresql_password" value="123456789" />
    <add key="postgresql_port" value="5432" />

    <add key="sqlite_datasource" value="databases" />
    <add key="sqlite_database_path" value="databases" />
    <add key="sqlite_database" value="may" />
    <add key="sqlite_userid" value="sa" />
    <add key="sqlite_password" value="123456789" />
    <add key="sqlite_port" value="0" />
    <add key="sqlite_version" value="3" />
    <add key="sqlite_db_extension" value="sqlite" />
    <add key="sqlite_pooling" value="true" />
    <add key="sqlite_fail_if_missing" value="false" />

    <add key="saveinmssql" value="true" />
    <add key="saveinmysql" value="true" />
    <add key="saveinsqlite" value="true" />
    <add key="saveinpostgresql" value="true" />

    <add key="checkdbconnections" value="true" />
    <add key="checkdbconnectioninmssql" value="true" />
    <add key="checkdbconnectioninmysql" value="true" />
    <add key="checkdbconnectioninsqlite" value="true" />
    <add key="checkdbconnectioninpostgresql" value="true" />
    <add key="update_schema_temp_db" value="ntharenedb" />
    <add key="xamp_server_path" value="C:\xampp\xampp-control.exe" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="LOGFILENAME" value="Logs\\log.log"/>
    <add key="ERRORLOGFILENAME" value="Logs\\error.log"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="Comm_Port" value="5"/>
    <add key="Comm_BaudRate" value="460800"/>
    <add key="Comm_TimeOut" value="5000"/>
    <!--trial period days-->
    <add key="TRIAL_PERIOD" value="370"/>
    <!--no of seconds to wait till execute long running function to collect extra info-->
    <add key="COLLECT_EXTRAS_SECONDS_COUNTA" value="60"/>
    <!--maximum number of the message characters to send-->
    <add key="MAX_MSG_LENGTH" value="0"/>
    <!--number of characters to use in license key-->
    <add key="NO_OF_CHARACTERS_IN_LICENSE_KEY" value="32"/>
    <add key="APP_NAME" value="Nyax Console"/>

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>